<!-- <h1>new user</h1> -->
<div class="container">
  <div class="landing-box ">
    <!-- <div class="center-block"> -->
      <div class="left">
        <p>Connect with your robot <code>instantly</code>and <code>effortlessly</code></p>
        <img src=<%=image_url('connect.jpg')%> width="300px">
        <!-- <p class="text-right">and effortlessly</p> -->
        <p class="text-right "><small><code>ready to run gospygo?</code></small></p>
      </div>
      <div class="right">
        <%= render 'form' %>
      </div>
    <!-- </div> -->
  </div>
</div>